@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.container {
    display:flex;
    margin-top : 20px;
   
}
.img {
    
    width: 250px;
    height : 250px;
    background-size: contain;
    background-repeat: no-repeat;
}
.infoContainer {
    
    width: 44%;
    display:flex;
   
    justify-content : flex-start;
}
.infoContent {
    margin-left : 5%;
}
.name {
    margin-top : 5%;
    font-weight: bold;
}
.description {
    margin-top : 1%;
    color : #3A3B3C;
    font-size : 15px;
}
.size {
    margin-top : 5%;
    font-size: 15px;
    
}

.price {
    margin-top : 3%;
    font-size : 20px;
}

.deleteContainer {
    width : 26%;
 
    display:flex;
    justify-content: center;
}
.delete {
    border : solid gray 1px;
    width : 80px;
    height : 40px;
    margin-top : 65px;
    text-align:center;
    line-height : 280%;
    font-size : 14px;
    cursor:pointer;

}
.delete:hover {
    background-color: black;
    color : white;
}

.quantity {
    width : 30%;   
    display:flex;
    justify-content: center;
   
}
.quantityContent {
    display:flex;
    margin-top : 19%;
    
}
.minus {
    text-align: center;
    font-size : 20px;
    border : solid #D3D3D3 1px;
    width : 30px;
    height : 30px;
    cursor : pointer;
    color : #414141;
   line-height : 120%;
   font-size : 25px;
}
.count{
    text-align: center;
    font-size : 17px;
    border : solid gray 0px;
    width : 30px;
    height : 30px;
    color : #414141;
    line-height : 170%;
}
.plus {
    text-align: center;
    font-size : 20px;
    border : solid #D3D3D3 1px;
    width : 30px;
    height : 30px;
    cursor : pointer;
    color : #414141;
    line-height : 150%;
}
