@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    display:flex;
    justify-content: center;
    font-family : 'NanumSquareNeo-Variable';
}
.navbarContainer {
    display:flex;
    width: 71%;
    justify-content: space-between;
    
}
.shopName {
    width : 200px;
    height : 40px;
   
}
.navbarLeftContainer {
    display : flex;
    cursor: pointer;
    line-height : 45px;
}

.navbarRightContainer {
    display : flex;
    cursor: pointer;
    justify-content: space-around;
    line-height : 45px;
    
}
.userImg {
    border : solid black 1px;
    border-radius : 50%;
    width : 30px;
    height : 30px;
    margin-top : 7px;
    margin-right : 10px;
    background-size: contain;
}
.products {
    margin-right : 10px;
}
.cartImg {
    margin-top : 5px;
    margin-right : 10px;
}
.count {
    margin-top : 5px;
    background-color: beige;
    border : solid beige 1px;
    border-radius : 50%;
    width : 20px;
    height : 20px;
    text-align:center;
    line-height : 120%;
    z-index : 999;
    position : absolute;
    margin-right : 100px;
    color:white;
}
.pencilImg {
    margin-top : 10px;
    margin-right : 10px;
}
.img {
    width: 1350px;
    height : 300px;
    color : white;
    text-align: center;
    line-height : 300px;
    font-size : 30px;
    font-weight : bold;
}
.name {
    margin-right : 5px;
    width : 40px;
    height : 40px;
    
}
.button {
    border  : solid black 0px;
    padding: 0px 20px 0px 20px;
    height : 80%;
    margin-top : 5px;
    cursor : pointer;
    background-color: whitesmoke;
}
.button:hover {
    
    background-color: beige;
}
@media (max-width : 593px) {
    .navbarContainer {
        width: 100%;
        display:flex;
        justify-content: space-between;
        
        
    }
   
}
