@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.card {
    
    width : 190px;
    height : 340px;
    margin : 0px 30px 20px 0px;
    cursor:pointer;
    font-family: 'NanumSquareNeo-Variable';
}
.deleteButton {
    position : absolute;
    width : 30px;
    height : 30px;
    margin-top : 6%;
    margin-left : 83%;
    cursor:pointer;
    display:none;
    z-index :999;
   
}
.card:hover .deleteButton {
    display:block;
    z-index: 999;
}
.card:hover {
   
    opacity: 0.9;
    scale : 1.05;
   
}
.img {
    width : 100%;
    border-radius : 10px;
    margin-top : 3.5%;
   
}

.info {
    font-size : 14px;
    height : 80px;
}
.name {
    margin-top : 5px;
    color : gray;
}
.categoryContainer {
    display:flex;
    justify-content: space-between;
    margin : 10px 0px 2px 0px;
}
.category {
    margin-bottom : 5px;
}
.heartContainer {
    
    display:flex;
    
    
   
}
.num {
    
    margin-top : -2px;
}
.heart {
    margin-top : -4px;
    color : red;
    font-size : 18px;
}
.priceContainer {
    
    width : 90%;
    display:flex;
    justify-content: space-between;
    margin-top : 10px;
}
