.container {
    display:flex;
    justify-content: center;
}
.productsContainer {
    width : 1424px;
    height : 300px;
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    
    
}
