@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.container {
    display:flex;
    justify-content: center;
    
}
.productsContainer {
 
    width : 79%;
    
    
    flex-wrap: wrap;
    display:flex;
    justify-content: flex-start;
    
    
}
.product {
    display:flex;
    
}
.new {
    
    width : 100%;
    display:flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size : 20px;
}
.new2 {
    margin-top : 3px;
    width : 100%;
    color : #3A3B3C;
    font-family: 'NanumSquareNeo-Variable';
    font-size : 15px;
}
.moreContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.more {

    text-align:center;
    line-height : 160%;
    width : 200px;
    height : 40px;
    
    font-weight: bold;
  
    color : gray;
    
}
