.container {
    display:flex;
    justify-content: center;
    
}
.productsContainer {
    width : 79%;
    
    flex-wrap: wrap;
    display:flex;
    justify-content: flex-start;
    margin : 50px;
    
    
}
.popular {
    margin-top : 20px;
    width : 100%;
    display:flex;
    justify-content: flex-start;
    font-weight: bold;
    
}
.moreContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.more {
    border : solid gray 1px;
    border-radius : 10px;
    text-align:center;
    line-height : 160%;
    width : 100px;
    height : 30px;

    font-weight: bold;
    cursor : pointer;
    color : gray;
    
}
