@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

    .product {
        margin-top : 20px;
        width : 235px;
        cursor:pointer;
        font-family: 'NanumSquareNeo-Variable';
        margin-right: 50px;
        
    }
    .category {
        margin-bottom : 10px;
        border-bottom: 1px solid;
    }
    .img {
        width : 255px;
        height : 250px;
        border-radius : 10px;
        background-size : cover;
        background-repeat : no-repeat;
        margin-bottom : 5px;
        
    }
    .img:hover {
        scale :1.05;
    }
    .name {
        width : 200px;
        margin-top : 10px;
        margin-bottom : 5px;
        font-size : 14px;
    }
    .price {
        font-size : 15px;
        font-weight : bolder;
    }