.mordalBackground{
    position:fixed;
    top : 0;left : 0;bottom : 0;right : 0;
    background-color: rgba(0,0,0,0.8);;
}
.mordal {
    border-radius : 10px;
    width : 400px;
    height : 400px;
    z-index : 999;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    transition-duration: 2s, 4s;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor : pointer;
    background-color: gray;
    border : solid black 0px;
    color: white;
}
.close:hover {
    background-color: black;
    color:white;
    
}
.name {
    width : 100%;
    text-align: center;
    margin-top : 5px;
    font-weight : bolder;
}
.sizeBox {
    border : solid gray 1px;
    border-radius : 15px;
    width : 100px;
    height : 50px;
    text-align : center;
    line-height : 300%;
    margin : 10px;
    cursor: pointer;
    font-weight: bolder;
}
.sizeContainer {
    display:flex;
    flex-wrap : wrap;
    justify-content: flex-start;
    padding-left : 8px;
}
.sizeBox:hover {
    background-color: black;
    color : white;
    scale : 1.1;
    transition: all 0.8s;
}
.sizeContainer {
    display:flex;
    flex-wrap : wrap;
    
}