.modal {
  border-radius: 10px;
  width: 90px;
  height: 50px;
  z-index: 999;
  position: absolute;
  top: 38%;
  left: 67.5%;
  transform: translate(445%, -10%);
  background-color: black;
  opacity: 0.9;
}
.container {
  line-height: 300%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: white;
}
.heart {
  color: red;
}
