.payment {
  border: solid black 0px;
  width: 600px;
  height: 70px;
  background-color: black;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  margin: 40px 0px 0px 25px;
  text-align: center;
  line-height: 270%;
  cursor: pointer;
}
