@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.modal {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: whitesmoke;
  transition-duration: 2s, 4s;
}
.reviewModal {
  border-radius: 10px;
  width: 600px;
  height: 800px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: whitesmoke;
  transition-duration: 2s, 4s;
}
.overlay {
  border: 0px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.reviewOverlay {
  border: 0px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.sizeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 8px;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background-color: gray;
  border: solid black 0px;
  color: white;
}
.close:hover {
  background-color: black;
  color: white;
}
.name {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-weight: bolder;
}
.sizeBox {
  border: solid gray 1px;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 300%;
  margin: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.sizeBox:hover {
  background-color: black;
  color: white;
  scale: 1.1;
  transition: all 0.8s;
}

.Btn {
  border: solid gray 1px;
  border-radius: 15px;
  width: 70px;
  height: 30px;
  line-height: 190%;
  text-align: center;
  cursor: pointer;
}
.Btn:hover {
  background-color: black;
  color: white;
}
.addressContainer {
  border: solid black 1px;
  border-radius: 20px;
  width: 700px;
  height: 500px;
  z-index: 555;
  position: absolute;
  top: 47%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.addressContent {
  margin-left: 40px;
}
.btnContainer {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin-left: 35%;
}
.star {
  color: #3a3a3a;
}
.star:hover {
  color: yellow;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewTitle {
  font-size: 22px;
  font-weight: bolder;
  margin: 20px 0px 30px 0px;
}
.starContainer {
  text-align: center;
  padding: 20px;
}
.star {
  margin-top: 10px;
}
.starText1 {
  font-weight: bolder;
  margin: 10px 0px 5px 0px;
}
.starText2 {
  color: gray;
}
.productContent {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
.infoContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.img {
  width: 150px;
  height: 150px;
}
.productCategory {
  font-weight: bolder;
  margin-bottom: 10px;
}
.productDescription {
  margin-bottom: 3px;
}
.productName {
  margin-bottom: 3px;
}
.horizonLine {
  width: 95%;
  margin-top: 20px;
  border-bottom: 2px solid #d4d4d4;
  line-height: 0.1rem;
}
textarea {
  margin-top: 10px;
  width: 565px;
  height: 200px;
  border: none;
  resize: none;
  outline-color: white;
}
.btnContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 40px 0px 0px 65px;
  display: flex;
  font-family: "NanumSquareNeo-Variable";
}
.btn1 {
  border: solid black 1px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 250%;
  background-color: black;
  color: white;
  cursor: pointer;
}
.btn2 {
  border: solid gray 1px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 250%;
  background-color: white;
  color: #303033;
  cursor: pointer;
}
.btn1:hover,
.btn2:hover {
  color: #a5ba93;
}
