.mypageContainer {
  font-family: "NanumSquareNeo-Variable";
  width: 2000px;
  display: flex;
  height: 100%;
  margin: 0px 50px 0px 80px;
}
.sideContainer {
  margin: 145px 0px 0px 100px;
  width: 300px;
  height: 400px;
}
.title {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.item {
  color: gray;
  margin-top: 10px;
  cursor: pointer;
}
.nickName {
  width: 150px;
  text-align: start;
  font-weight: bolder;
  font-size: 22px;
}
.mainContainer {
  margin-top: 145px;
}
.last {
  font-size: 17px;
}
.Btn {
  border: solid gray 1px;
  border-radius: 15px;
  width: 70px;
  height: 30px;
  line-height: 190%;
  text-align: center;
  cursor: pointer;
}
.Btn:hover {
  background-color: black;
  color: white;
}
.addressContainer {
  border: solid black 1px;
  border-radius: 20px;
  width: 900px;
  height: 500px;
  z-index: 555;
  position: absolute;
  top: 47%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.addressContainer2 {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.addressContainer3 {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
}
.btnContainer {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin-left: 35%;
}
.horizonLine {
  width: 1200px;
  border-bottom: 3px solid black;
  line-height: 0.1rem;
}
.horizonLine2 {
  width: 100%;
  margin-top: -1%;
  border-bottom: 1px solid black;
  line-height: 0.1rem;
}
