@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    display:flex;
    justify-content: center;   
    font-family: 'NanumSquareNeo-Variable';
}
.nullContainer {
    display:flex;
    justify-content: center;
    font-family: 'NanumSquareNeo-Variable';
    
}
.nullContent {
    width : 71%;
    
}
.nullText {
    display : flex;
    justify-content: center;
    font-size : 35px;
    margin-top : 10%;
}
.nullBoxContainer {
    margin-top : 5%;
    display:flex;
    justify-content: center;
}
.nullBox {
 
    border : solid gray 1px;
    width: 350px;
    padding: 20px;
    font-size : 25px;
    text-align : center;
    cursor : pointer;
    color : #3A3B3C;
    font-weight: bold;
    
}
.nullBox:hover {
    background-color: black;
    color : white;
    
    transition: all 0.3s;
}
.horizonLine {
    width: 100%;
    margin-top : 3%;
    border-bottom: 5px solid black;
    line-Height : 0.1rem;
    
}
.horizonLine2 {
    width: 100%;
    margin-top : 3%;
    border-bottom: 1px solid black;
    line-Height : 0.1rem;
    
}
.horizonBottomLine {
    width: 100%;
    margin-top : 3%;
    border-bottom: 3px solid gray;
    line-Height : 0.1rem;
}
.text {
    font-size : 30px;
    font-weight : bold;
    margin-bottom : 20px;
}
.productsContainer {
    width : 70.5%;
    
}
.menuContainer {
    width: 70%;
   
    font-size : 30px;
    font-weight : bold;
    justify-content: space-between;
}
.test {
    border : solid gray 1px;
    text-align : center;
    line-height : 250%;
    height : 40px;
    display:flex;
    justify-content: flex-end;
}

.payContainer {
    display:flex;
   
    margin-top : 20px;
    margin-bottom : 2.2%;
}
.payContainer2 {
    display:flex;
    margin-top : 20px;
    margin-bottom : 2.2%;
 
}
.productPrice {
   width : 30%;
   font-weight : bolder;
   font-size : 20px;
   text-align:center;
   
}
.payContent1 {
    width: 27.5%;
    margin-top : 2.5%;
    font-weight : bolder;
   font-size : 25px;
   text-align:center;
  
}
.payContent2 {
    
    font-weight : bolder;
   font-size : 25px;
   text-align:center;
   
}
.payContent3 {
    width : 23%;
    margin-top : 2.5%;
    font-weight : bolder;
   font-size : 25px;
   text-align:center;
  
}
.deliveryPrice {
    width : 53%;
    font-weight : bolder;
    font-size : 20px;
    text-align:center;
   
    
}
.lastPrice {
    width: 25%;
    font-weight : bolder;
    font-size : 20px;
    text-align:center;
    
}
.menu {
    
    width : 100%;
    display:flex;
    
   
}
.menuOption {
    width : 52.8%;
   
    text-align: center;
}
.menuQuantity{
    width : 35.9%;
}
.menuOrder {
    width : 31%;
    
}
.name {
    margin-top : 20px;
}
.name2 {
    margin-top : 10px;
    font-weight : bold;
}
.symbolContent {
    width : 49.5%;
    display:flex;
    margin-top : 2.5%;
    text-align:center;
   
    justify-content: space-around;
}
.symbol {
    
    border : solid gray 1px;
    border-radius : 50%;
    width : 30px;
    height : 30px;
    text-align:center;
    font-size : 25px;
    line-height : 120%;
    background-color: black;
    color : white;
    
   
}
@media ( max-width :736px) {
    .horizonLine {
        margin-top : 15%;
    }
    .nullBox {
        margin-top : 2%;
        font-size : 20px;
    }
    .nullText {
        margin-top : 10%;
        font-size : 20px;
    }
    .horizonBottomLine {
        
        margin-top : 5%;
    }
}