.container {
    display:flex;
    justify-content: center;   
}
.text {
    font-size : 30px;
    font-weight : bold;
    margin-bottom : 20px;
}
.productsContainer {
    width : 70.5%;
    
}
.menuContainer {
    width: 70%;
   
    font-size : 30px;
    font-weight : bold;
    justify-content: space-between;
}
.test {
    border : solid gray 1px;
    text-align : center;
    line-height : 250%;
    height : 40px;
    display:flex;
    justify-content: flex-end;
}
.menu {
    
    width : 70%;
    display:flex;
    justify-content: space-around;
    
}
.payContainer {
    display:flex;
    justify-content: space-around;
    margin-top : 20px;
}
.productPrice {
    border : solid gray 0px;
    border-radius : 10px;
    width: 200px;
    height : 100px;
    text-align:center;
    background-color: beige;
    
}
.deliveryPrice {
    border : solid gray 0px;
    border-radius : 10px;
    width: 200px;
    height : 100px;
    text-align:center;
   
    background-color: beige;
}
.lastPrice {
    border : solid gray 0px;
    border-radius : 10px;
    width: 200px;
    height : 100px;
    text-align:center;
    background-color: beige;
   
}
.name {
    margin-top : 20px;
}
.name2 {
    margin-top : 10px;
    font-weight : bold;
}
.symbol {
    margin-top : 20px;
    border : solid gray 1px;
    border-radius : 50%;
    width : 50px;
    height : 50px;
    text-align:center;
    font-size : 30px;
    background-color: whitesmoke;
    color : black;
    font-weight: bold;
}