.container {
    display:flex;
    flex-direction: column;
    justify-content : space-around;
    
}

.img {
    width: 1350px;
    height : 300px;
    color : white;
    text-align: center;
    line-height : 300px;
    font-size : 30px;
    font-weight : bold;

}
.imgContainer {
    display: flex;
    justify-content: center;
    
}
.arrowContainer1 {
    display :flex;
    
}
    
.arrowContainer2 {
    margin-top : 10px;
    width: 86%;
    display : flex;
    justify-content: flex-end;
    cursor: pointer;
    
}
.productsContainer {
    display:flex;
    justify-content: center;
    
}
.productContainer {

    width: 90%;
    
}

