.container {
    display:flex;
    flex-direction: column;    
    width : 100%;
    
    
}

.img {
    width: 100%;
    height : 300px;
    color : white;
    text-align: center;
    line-height : 230px;
    font-size : 30px;
    font-weight : bold;
    background-size: contain;
    background-repeat: no-repeat;
}
.imgContainer {
    display: flex;
    justify-content: center;
    
}

.productsContainer {
    display:flex;
    
    
    
}
.productContainer {
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    
    
}

@media ( max-width :776px) {

    .productsContainer {
        display:flex;
        margin-top : -90px;
        margin-left : 170px;
        
    }
}
@media ( max-width :576px) {

    .productsContainer {
        display:flex;
        margin-top : -180px;
        margin-left : 70px;
        
    }
}