.container {
  display: flex;
  justify-content: center;
  font-family: "NanumSquareNeo-Variable";
}
.mypageContainer {
  width: 1550px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin: 100px;
  height: 100%;
}
.sideContainer {
  width: 200px;
  height: 400px;
  background-color: beige;
  padding: 10px;
}
.title {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.item {
  margin-top: 10px;
  cursor: pointer;
}
.mainContainer {
}
