.mypageContainer {
  font-family: "NanumSquareNeo-Variable";
  width: 2000px;
  display: flex;
  height: 100%;
  margin: 0px 50px 0px 80px;
}
.sideContainer {
  margin: 145px 0px 0px 100px;
  width: 300px;
  height: 400px;
}
.title {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.item {
  color: gray;
  margin-top: 10px;
  cursor: pointer;
}
.nickName {
  width: 150px;
  text-align: start;
  font-weight: bolder;
  font-size: 22px;
}
.mainContainer {
  margin-top: 145px;
}
.last {
  font-size: 17px;
}
