.mypageContainer {
  font-family: "NanumSquareNeo-Variable";
  width: 1310px;
  display: flex;
  height: 100%;
  margin: 0px 50px 0px 80px;
}
.sideContainer {
  margin: 145px 20px 0px 10px;
  width: 450px;
  height: 400px;
}
.title {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.item {
  color: gray;
  margin-top: 10px;
  cursor: pointer;
}
.item:hover {
  font-weight: bolder;
  color: black;
}
.nickName {
  width: 150px;
  text-align: start;
  font-weight: bolder;
  font-size: 22px;
}
.mainContainer {
  margin-top: 145px;
}
.last {
  font-size: 17px;
}
.horizonLine {
  width: 1190px;
  border-bottom: 3px solid black;
  line-height: 0.1rem;
}
.horizonLine2 {
  width: 1555px;
  border-bottom: 3px solid black;
  line-height: 0.1rem;
}
.reviewContainer {
  display: flex;
}
.reviewTitle {
  border-top: solid black 1px;
  border-right: solid black 1px;
  border-left: solid black 1px;
  width: 180px;
  height: 45px;
  text-align: center;
  line-height: 250%;
  cursor: pointer;
  background-color: black;
  color: white;
}
.reviewTitle2 {
  border-top: solid black 1px;
  border-right: solid black 1px;
  border-left: solid black 1px;
  width: 180px;
  height: 45px;
  text-align: center;
  line-height: 250%;
  cursor: pointer;
}
/**********************************************/
.productContent {
  display: flex;
  border: solid black 0px;
  width: 100%;
  height: 150px;
  text-align: center;
  margin: 15px 0px 15px 0px;
}
.productContent:hover {
  background-color: #fafafa;
}
.img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.info {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  text-align: left;
  font-size: 15px;
}
.brand,
.name,
.size {
  padding: 10px;
}
.name > span {
  cursor: pointer;
}
.brand > span {
  cursor: pointer;
  font-weight: bolder;
}
.date {
  margin-top: 20px;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  height: 130px;
}
.firstPrice {
  text-decoration-line: line-through;
  color: gray;
}

.topContainer {
  display: flex;
  text-align: center;
  font-size: 16px;
  margin: 20px 0px 20px 0px;
}

.productInfo {
  width: 450px;
}

.reviewPrice {
  width: 350px;
}
.reviewContent {
  width: 270px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 100px;
}
.reviewStar {
  width: 300px;
}
.reviewState {
  width: 110px;
}
.star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 100px;
}
.btnContainer {
  display: flex;
  width: 150px;
  height: 100px;
  margin-left: -15px;
  justify-content: space-between;
  align-items: center;
}
.Btn {
  border: solid gray 1px;
  border-radius: 15px;
  width: 80px;
  height: 30px;
  line-height: 190%;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}
.Btn:hover {
  background-color: black;
  color: white;
}

/********************/

.orderDate {
  width: 350px;
}
.orderNumber {
  width: 340px;
}
.orderPrice {
  width: 190px;
}
.orderCoupon {
  width: 190px;
}
.orderState {
  width: 190px;
}
.productDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 200px;
}
.orderNum {
  width: 350px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.priceContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  height: 120px;
}

.coupon {
  width: 195px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.state {
  width: 185px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review {
  border: solid gray 1px;
  width: 70px;
  height: 25px;
  background-color: #303033;
  text-align: center;
  line-height: 190%;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  font-size: 13px;
}
.review:hover {
  background-color: black;
  color: white;
}
.noneText {
  width: 1590px;
  text-align: center;
  font-weight: bolder;
  padding: 80px 0px 50px 0px;
}
