@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.container {
    display:flex;
    justify-content: center;
    margin-top : 30px;
    width : 100%;
    font-family: 'NanumSquareNeo-Variable';
   
}
.productsContainer {
    display:flex;
    flex-direction: column;
    width : 1350px;    
    margin-left : 8%;
    }
.contentContainer {
    width : 100%;
    min-height : 150px;         
    display:flex; 
    justify-content: center;
    
}
.sortContainer {
    display:flex;   
    justify-content: flex-end;
    width :1110px;  
    height  : 20px;
   
}
.test {
    width : 100px;
    display:flex;
}
/*.searchContainer {
   
    margin : 3% 0% 0% 25%;
    width : 30%;
    display:flex;
    flex-direction: column;
    justify-content: center;  
   
}*/
.searchContainer {
    margin-top : 3%;
}
.searchContent {
    display:flex;   
    
}
.close {
    width: 25px;
    min-width : 25px;
    height : 25px;  
    min-height :25px;
    cursor : pointer;
    margin : 10px 0px 0px 10px;    
}
.horizonLine {
    max-width: 558px;
    min-width: 558px;   
    border-bottom: 3px solid black;
    line-Height : 0.1rem;
}
.horizonLine2 {
    width: 100%;
    margin-top : 3%;
    border-bottom: 1px solid black;
    line-Height : 0.1rem;
    
}
.searchBar{
    border : none;   
    min-width : 520px; 
    height : 40px;
    font-size : 25px;     
}   
.searchBar:focus {
    outline: none; 
}

.sort {
    cursor:pointer;
}
.toggleIcon {
    margin-left : 0.2%;
    width : 20px;
    height : 20px;
}
.content {
    width : 95%;
    display:flex;
    justify-content: center;

}

.products {
    width : 1250px;
    flex-wrap: wrap;    
    display:flex;
    justify-content: flex-start;
    
 
}
.hamburger {
    width :30px;
    height : 30px;
    display:none;
    cursor:pointer;
}
@media (max-width: 1319px) {


    .productsContainer { 
        width : 100%;     
    }

    .close {
        width: 25px;
        min-width : 25px;
        height : 25px;
        min-height :25px;
        cursor : pointer;
        margin : 10px 0px 0px 10px;
    }

}
@media (max-width: 1156px) {

    .sortContainer {
        width :887px; 
              
    }

    .close {
        margin : 10px 0px 0px 0px;
    }
    .horizonLine {
        max-width: 548px;
        min-width: 548px;   
        border-bottom: 3px solid black;
        line-Height : 0.1rem;
    }
}
@media (max-width : 926px) {
    .sortContainer {
        width :659px; 
              
    }

}
@media (max-width : 717px) {
    .sortContainer {
        width : 480px;
        margin-top : -10%;
        margin-left : 10%;
                 
    }
    .productsContainer { 
        margin-left : 0%;
        
    }
    .content {
        width : 92%;
        margin-left : 15%;
        
    }
    .searchBar{
        border : none;   
        min-width : 420px; 
        height : 40px;
        font-size : 25px;     
    }  
    .horizonLine {
        max-width: 458px;
        min-width: 458px;   
        border-bottom: 3px solid black;
        line-Height : 0.1rem;
    }
    .hamburger {
        display:block;
    }
    .sortContainer {
        margin-top : -10%;
        display:flex;
        justify-content: space-between;
    }
}
@media(max-width :583px) {
    .content {
        width : 100%;
        margin-left :8%;
        margin-top : 5%;
    }
    .sortContainer {
        width : 487px;
        margin-left : 1%;
        margin-top : -10%;
                
    }
}
/*@media(max-width : 699px) {
   .sortContainer{
    margin-top : -5%;
   }
   .content {
    display:flex;
    flex-wrap : wrap;
    justify-content: center;
    }
}*/