.container {
    margin-top : 5%;
    display:flex;
    justify-content: center;
    
}
.leftContainer {
    display :flex;
    flex-direction: column;
    
    width : 750px;
}
.rightContainer {   
    width : 750px;
   
}
.shipInfoContainer {

}
.infoTitle {
    font-weight : bolder;
    font-size : 20px;
    padding : 20px;
}
.infoSelectContainer {
    display : flex;
    margin-top : 20px;
}
.leftSelectBox1 {
    border-top : solid #BEBEBE 1px;
    
    border-left : solid #BEBEBE 1px;
    width : 150px;
    height : 50px;
    font-size : 14px;
    text-align:center;
    line-height : 350%;
    cursor : pointer;
}
.leftSelectBox2{
    border : solid 0px #BEBEBE;
    width : 150px;
    height : 50px;
    background-color: #F5F5F5;
    color : #BEBEBE;
    text-align:center;
    line-height : 350%;
    cursor : pointer;
    font-size : 14px;
}
.rightSelectBox1 {
    border-bottom : solid 1px #BEBEBE;
    background-color: #F5F5F5;
    color : #BEBEBE;
    width : 150px;
    height : 50px;
    text-align:center;
    line-height : 350%;
    font-size : 14px;
    cursor : pointer;
}
.rightSelectBox2 {
    border-top : solid 1px #BEBEBE;
    border-right : solid 1px #BEBEBE;
    width : 150px;
    height : 50px;
    text-align:center;
    line-height : 350%;
    font-size : 14px;
    cursor : pointer;
}
.showOldBox {
    border : solid black 0px;
    width : 750px;
    height : 180px;
    text-align: center;
    font-size : 14px;
    line-height : 300%;
    color : gray;
    margin-top : 10px;
    
}
.oldBoxP1{
    margin-top : 80px;
}
.oldBoxP2{
    margin-top : -30px;
}
.couponContainer {

}
.bonusCouponContainer {
    display:flex;
}
.brandCouponContainer {
    display:flex;

    margin-bottom  : 30px;
}
.couponTitle {
    font-weight : bolder;
    font-size : 20px;
    padding : 20px;
}
.couponLeftBox {
    width : 130px;
    height : 50px;
    line-height : 300%;
    
}

.couponRightBox {
    border : solid #BEBEBE 1px;
    width: 600px;
    height : 40px;
    display :flex;
    justify-content: space-between;
    cursor:pointer;
    
}
.couponBox {
    position : relative;
}
.test {
    border-left : solid #BEBEBE 1px;
    border-right : solid #BEBEBE 1px;
    border-bottom : solid #BEBEBE 1px;
    position : absolute;
    margin: -8px 0px 0px 130px;
    z-index :999;
}
.default {
    line-height : 230%;
}
.down {
    margin : 10px 10px 0px 0px;
}
.coupon {
   
    border : solid #BEBEBE 0px;
    width : 600px;
    height : 40px;
    line-height : 240%;
    background-color: white;
}
.coupon:hover {
    background-color: #D4D4D4;
    cursor:pointer;
}
.brandCouponRightBox {
    border : solid #BEBEBE 1px;
    width: 600px;
    height : 40px;
    display :flex;
    justify-content: space-between;
    cursor:pointer;
    background-color: #ECECEC;
    color : #6a6a6a;
    line-height : 240%;
}
.paymentContainer {
    
}
.horizonLine {
    width : 750px; 
    border-bottom: 2px solid black;
    line-Height : 0.1rem;
}
.horizonLine2 {
    width : 750px;   
    border-bottom: 1px solid #bebebe;
    line-Height : 0.1rem;
}
.horizonLine3 {  
    width : 750px; 
    border-bottom: 0.5px solid #bebebe;
    
}