@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.container {
  display: flex;
  flex-direction: column;
  border: solid black 0px;
  width: 400px;
  height: 600px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}
.title {
  width: 100%;
  font-family: "Tenada";
  font-size: 24px;
  text-align: center;
  font-weight: 900;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  font-family: "LINESeedKR-Bd";
  padding: 10px 0px 10px 0px;
}
.inputTitleIDNotAllowed {
  color: red;
}
.inputTitlePWNotAllowed {
  color: red;
}
.inputTitleREPWNotAllowed {
  color: red;
}
.inputTitleNickNotAllowed {
  color: red;
}
.inputValue {
  width: 97%;
  border: none;
  height: 30px;
  border-bottom: 1px solid black;
}
.inputValueNotAllowed {
  border: none;
  height: 30px;
  width: 97%;
  border-bottom: 1px solid red;
}

.inputValue:focus {
  outline: none;
}
.inputValueNotAllowed:focus {
  outline: none;
}
.text {
  color: red;
  font-size: 12px;
}
.submitBtn {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #ececec;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
  color: white;
  line-height: 300%;
  cursor: default;
}
.submitBtnAllowed {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  background-color: black;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
  color: white;
  line-height: 300%;
  cursor: pointer;
}
