.postCodeStyle1 {
  position: absolute;
  z-index: 999;
  width: 600px;
  height: 450px;
  margin-left: -4px;
}
.postCodeStyle2 {
  position: absolute;
  z-index: 999;
  width: 500px;
  height: 400px;
  margin-left: -4px;
}
