.container {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.95);
}

.searchContainer {
  margin: 60px 0% 0% 28%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchContent {
  display: flex;
}
.searchBar {
  border: none;
  width: 100%;
  height: 50px;
  font-size: 30px;
}
.searchBar:focus {
  outline: none;
}
.horizonLine {
  width: 93%;
  border-bottom: 5px solid black;
  line-height: 0.1rem;
}
.close {
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-top: 5px;
}
.recentSearchContainer {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-top: 2%;
}
.recentSearch {
  font-size: 18px;
  font-weight: bolder;
}
.recommendSearch {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 10px;
}
.recommendContainer {
  display: flex;
}
.recommendContent {
  border: solid black 0px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  margin: 20px 10px 10px 0px;
  background-color: #f5f5f5;
  cursor: pointer;
  line-height: 180%;
}
.recommendContent:hover {
  font-weight: bolder;
}
.delete {
  cursor: pointer;
  margin-top: 5px;
  color: darkgray;
}
.delete:hover {
  color: black;
}
.keywordContainer {
  width: 785px;

  display: flex;
}
.keywordContent {
  display: flex;
  width: 100px;
  height: 30px;
  margin: 10px 5px 5px 5px;
  line-height: 180%;

  justify-content: center;
}
.keyword {
  color: gray;
  cursor: pointer;
}
.keyword:hover {
  color: black;
}
.keywordClose {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  color: gray;
  cursor: pointer;
}
.keywordClose:hover {
  color: black;
}
@media (max-width: 880px) {
  .searchContainer {
    margin: 60px 0% 0% 2%;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
