@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.hContainer {
}
.brandContainer,
.sizeContainer,
.priceContainer {
  min-width: 220px;
  word-break: break-all;
  font-family: "NanumSquareNeo-Variable";
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.brandNavbar {
  width: 120px;
  font-size: 14px;
}
.brandNavbar:hover {
  font-weight: bolder;
}
.plus {
  width: 80px;
}
.filter {
  margin-top: 6px;
  width: 180px;
  border-top: solid black 3px;
  line-height: 250%;
  font-weight: bolder;
  margin-bottom: 50px;
}
.content {
  border: solid black 1px;
  width: 99%;
  height: 40px;
  cursor: pointer;
}
.brandContentIsNone {
  display: none;
}
.brandContentIsBlock {
  display: block;
}
.item {
  padding: 10px 5px 10px 5px;
}
.itemName {
  cursor: pointer;
}
.horizonLine2 {
  width: 85%;
  border-bottom: 1px solid black;
  margin-bottom: 10%;
  line-height: 0.1rem;
}
@media (max-width: 717px) {
  .container {
    display: none;
  }
}
